@using HebrewVerb.Application.Models
@using HebrewVerb.Application.Services
@rendermode InteractiveServer

<MudSelect T="Gizra" AnchorOrigin="Origin.BottomCenter" MultiSelection="true" ToStringFunc="@((g) => g.NameHebrew)"
    SelectedValuesChanged="OptionsChanged" SelectedValues="Options" Label="Гизра:">
        @foreach (var gizra in GizraList)
        {
            <MudSelectItem T="Gizra" Value="@gizra">
            <div style="max-width:300px;" class="d-flex justify-content-between">
                <MudTooltip>
                    <ChildContent>
                        <span class="hebrew-accent">@gizra.NameHebrew</span>
                    </ChildContent>
                    <TooltipContent>
                        <div style="max-width:180px" class="d-flex flex-wrap">
                            @gizra.NameRussian
                        </div>
                    </TooltipContent>
                </MudTooltip>                
                <GizraVisual Gizra="@gizra"></GizraVisual>
            </div>
            </MudSelectItem>

        }
    </MudSelect>

@code {
    [Parameter]
    public IEnumerable<Gizra> Options { get; set; } = new HashSet<Gizra>();

    [Parameter]
    public IEnumerable<Gizra> GizraList { get; set; } = [];

    [Parameter]
    public EventCallback<IEnumerable<Gizra>> OptionsChanged { get; set; }
}
